// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new{
    width: 500px;
    height: 400px;
    padding: 30px;
    margin: 20px;
    background-color: #ffffff;
    li{
        margin: 5px;
    }
}
.products{
    width: 580px;
    padding: 30px;
    margin: 50px 0 30px 30px;
    background-color: #ffffff;
    display: inline-block;
     li{
       width: 250px;
     }
      .empty{
      margin-top: 150px;
      }
      img{
        margin-top: 10px;
        padding-top: 15px;
        padding-right: 30px;
        width: 200px;
        height: 200px;
      }
      p{
        margin-top: 5px;
      }
    .action {
      margin-top: 10px;
      margin-bottom: 15px;
      i {
        font-size: 22px;
        margin-right: 10px;
        cursor: pointer;
        &.active {
          color: #F94653;
        }
      }
    }
}
.dsearch{
    width: 200px;
    background-color: white;
    padding: 10px;
    float: right;
    display: block;
    margin: 50px 30px 40px;
    h2 {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin: 5px;
    }
    ul {
      padding: 10px;
      li {
        flex: 1;
        margin: 10px;
        padding: 10px;
        a {
          text-align: center;
          display: block;
          color: inherit;
          text-decoration: none;
        }
      }
    }
}