// トップページ
.top {
  min-height: 1000px;
  margin-top: 30px;
  .comment {
    margin-top: 20px;
    margin-bottom: 10px;
    li {
      margin-bottom: 10px;
    }
    .user_name {
      font-weight: bold;
    }
    .text_wrap {
      margin-top: 10px;
      border-top: 1px solid #eee;
      padding-top: 15px;
      padding-right: 30px;
      .field {
        position: relative;
      }
      input[type="text"] {
        border: 1px solid #eee;
        width: 100%;
        height: 30px;
        font-size: 14px;
        outline: 0;
      }
      input[type="submit"] {
        position: absolute;
        right: -5px;
        border: 1px solid #eee;
        cursor: pointer;
        top: 0;
        bottom: 0;
        width: 35px;
        background-color: white;
      }
    }
  }
}
// ユーザー登録・サインイン部分
.sign_up, .sign_in {
  background: image-url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  .contents {
    position: absolute;
    top: 20%;
    left: 55%;
    height: 600px;
    width: 400px;
  }
  h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    font-family: cursive;
  }
  p {
    font-size: 16px;
  }
  form {
    margin-top: 15px;
      label {
      display: inline-block;
      width: 150px;
    }
    input[type="text"], input[type="email"], input[type="password"] {
      width: 100%;
      display: block;
      height: 36px;
      box-sizing: border-box;
      font-size: 16px;
      border: 0;
      padding: 3px 10px;
    }
    .field {
      margin-bottom: 8px;
      border-radius: 3px;
      border: 1px solid #eee;
    }
    button {
      background-color: #ccc;
      display: block;
      color: white;
      border: 1px solid darken(#ccc, 5%);
      border-radius: 3px;
      width: 100%;
      margin-top: 15px;
      padding: 10px;
      font-size: 18px;
      cursor: pointer;
      &:hover {
        background-color: darken(#ccc, 3%);
      }
    }
  }
  .sign_up_form, .sign_in_form {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 30px;
    margin-bottom: 20px;
  }
  .sign_in_link, .sign_up_link {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    text-align: center;
  }
}

  // プロフィール
  .user {
    padding: 40px;
    margin:  60px 40px;
    width: 550px;
    background-color: white;
    float: left;
    >li {
      font-size: 18px;
      margin: 5px;
    }
      a {
        color: gray;
        text-decoration: none;
        display: block;
      }
      p {
        display: inline-block;
      }
      .image {
        width: 200px;
        height: 200px;
      }
    }
    .info {
      padding: 0 16px;
    }
    .action {
      margin-top: 10px;
      margin-bottom: 15px;
      i {
        font-size: 22px;
        margin-right: 10px;
        cursor: pointer;
        &.active {
          color: #F94653;
        }
      }
      a, label {
        text-decoration: none;
        color: #2A2A2A;
      }
    }
    .comment {
      margin-top: 20px;
      margin-bottom: 10px;
      li {
        margin-bottom: 10px;
      }
      .user_name {
        font-weight: bold;
      }
        input[type="text"] {
          border: 1px solid #eee;
          width: 100%;
          height: 30px;
          font-size: 14px;
          outline: 0;
        }
        input[type="submit"] {
          position: absolute;
          right: -5px;
          border: 1px solid #eee;
          cursor: pointer;
          top: 0;
          bottom: 0;
          width: 35px;
          background-color: white;
        }
      }
.container{
    width: 960px;
    margin: 0 auto;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-color: transparent;
     .empty{
       width: 500px;
       max-height: 500px;
       padding: 30px;
       margin: 50px 0 30px 30px;
       background-color: #ffffff;
       display: inline-block;
     }
  .profiles{
    width: 500px;
    max-height: 500px;
    padding: 30px;
    margin: 50px 0 30px 30px;
    background-color: #ffffff;
    display: inline-block;
      .image {
      width: 200px;
      margin-right: 50px;
      >div {
        width: 180px;
        height: 180px;
       }
      }
  }
  // マイページ
  .my_page{
  width: 200px;
  background-color: white;
  padding: 10px;
  float: right;
  display: inline-block;
  margin: 50px 30px;
    h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    }
     ul {
      padding: 10px;
     }
      li {
      flex: 1;
      margin: 10px;
      padding: 10px;
      }
       a {
       text-align: center;
       display: block;
       color: inherit;
       text-decoration: none;
       }
  }
}